<header>
  <h1>Order Management</h1>
</header>

<div class="container2">
  <aside>
    <ul>
      <li (click)="goToDash()">Dashboard</li>
      <li (click)="goToOrders()">Orders</li>
      <li (click)="goToProd()">Products</li>
      <li (click)="goToOrderDto()">Order DTO</li>
    </ul>
  </aside>
  <div class="searchArea">

    <input type="text" class="searchInput" placeholder="Enter Valid Order No..." [(ngModel)]="dtoNo" style="font-style: italic;">
    <span class="btn btn-primary" (click)="goToOrderDto()" style="margin-left: 5px">Search</span>
    <router-outlet></router-outlet>

  </div>
</div>



<footer>
  <p>&copy; 2023 Order_Management. All rights reserved.</p>
</footer>

